.tab-content {
    vertical-align: center;
    color: #808080;
    font-size: 24;
    padding: 20;
}

.title {
    margin: 0 0 10 0;
    font-size: 32;
    color: #3c3c3c;
}

.item-icon{
    font-size: 30;
}

.item-title {
    font-size: 18;
    color: #3c3c3c;
    margin-top:5px;
}

.item-status {
    font-size: 12;
    color: #3c3c3c;
    margin-top:5px;
    margin-left:4px;    
    margin-bottom:5px
}

 .list-view-item {
  /*   font-size: 16;
  color: #212121;
  padding-top: 16;
  padding-bottom: 16;
  padding-left: 16;
  padding-right: 16;  */
}

.red{
    color:red;
}
.green{
    color:green;
}

.tab-title-class {    
    font-size: 32;
}

.font-awesome {
    font-family: "FontAwesome";
}
