.tab-content {
    vertical-align: center;
    color: #808080;
    font-size: 24;
    padding: 20;
}

.title {
    margin: 0 0 10 0;
    font-size: 32;
    color: #3c3c3c;
}

.item-icon{
    font-size: 30;
}

.item-title {
    font-size: 16;
    color: #3c3c3c;
    margin-top:8px;
}

.item-status {
    font-size: 12;
    color: #3c3c3c;
    margin-top:5px;
    margin-left:4px;    
    margin-bottom:5px
}

.news-view-item{
     border-color: gray;
     border-width: 0.5;
     margin-top: 15px;
     margin-bottom: 1;
     width:300;
}

.news-inner-grid{
    margin:20;
}

.news-inner-title{
    margin-bottom:20;
}

.news-inner-author{
    font-size:10
}

 .list-view-item {
     border-radius: 5;
     border-color: gray;
     border-width: 0.8;
     margin-top:5px;
     margin-bottom: 5px;
     padding-top: 5;
     padding-bottom: 5;
     padding-left: 5;
     padding-right: 5;
     width:350;
}

.red{
    color:red;
}
.green{
    color:green;
}

.tab-title-class {    
    font-size: 32;
}

.font-awesome {
    font-family: "FontAwesome";
}
