.tab-content {
    vertical-align: center;
    color: #808080;
    font-size: 24;
    padding: 20;
}

.title {
    margin: 0 0 10 0;
    font-size: 32;
    color: #3c3c3c;
}

.item-icon{
    font-size: 30;
}

.item-title {
    font-size: 13;
    color: #3c3c3c;
    margin-top:8px;
}

.item-status {
    font-size: 10;
    color: #3c3c3c;
    margin-top:5px;
    margin-left:3px;    
    margin-bottom:5px;
    text-transform: uppercase;
}

.news-view-item{
     border-color: gray;
     border-width: 0.5;
     margin-top: 15px;
     margin-bottom: 1;
     width:300;
}

.news-inner-grid{
    margin:20;
}

.news-inner-title{
    margin-bottom:20;
}

.news-inner-author{
    font-size:10;
}

.notify-list-view{
    width:300;
}

.notify-view-item { 
    border-radius: 3;
    color: #A4A4A4; 
    background-color: #F2F2F2;
    border-color: #A4A4A4;
    border-width: 0.8;
    margin-top:5px;
    margin-bottom: 5px;
    padding-top: 15;
    padding-bottom: 15;
    padding-left: 15;
    padding-right: 15;
}

.notify-view-item-icon{   
    color: #BDBDBD; 
    font-size:20;
}

.notify-view-item-message{    
    font-size:12;
}

 .list-view-item {
     border-radius: 5;
     border-color: #A4A4A4;
     border-width: 0.8;
     margin-top:5px;
     margin-bottom: 5px;
     padding-top: 10;
     padding-bottom: 10;
     padding-left: 10;
     padding-right: 10;
     width:320;
}

.red{
    color:red;
}
.green{
    color:green;
}

.tab-title-class {    
    font-size: 32;
}

.font-awesome {
    font-family: "FontAwesome";
}

.chart{
    border-radius: 5;
    border-color: #A4A4A4;
    border-width: 0.8;
    margin-bottom: 5px;
    padding-top: 10;
    padding-bottom: 10;
    padding-left: 10;
    padding-right: 10;
    margin-top:20;
    width:320;
    height:300;    
}
